*{
    padding: 0;
    margin: 0;
}
#winLose{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 35%;
    margin: 0 auto;
    background-color: white;
    border-radius: 2%;
    box-shadow: 2px 2px 2px darkgray;
    font-family: Patua One;
}
#info{
    text-align: center;
    width: 100%;
}
#playAgain{
    font-family: Patua One;
    margin-top: 20px;
    color: white;
    width: 80px;
    height: 40px;
    background-color: #6aaa64;
    cursor: pointer;
}

#header{
    font-family: Patua One;
    width: 100%;
    text-align: center;
    font-size: 130%;
    border-bottom: 1px solid lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
}

#grid{
    width: 20%;
    height: 350px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 8px;
    margin-top: 10px;
}
@keyframes shake {
    0% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
    20%, 40%, 60%, 80%, 100% { transform: translateX(10px); }
}

#grid > div {
    font-size: 150%;
    width: 100%;
    height: 50px;
    border: 2px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    
}
.shake-animation{
    animation-name: shake;
    animation-duration: 0.5s;
}
.flip-animation{
    animation-name: flip;
    animation-duration: 0.8s;
}
@keyframes flip {
    from {
      transform: rotateX(0deg);
    }
    to {
      transform: rotateX(360deg); /* Change to 365 degrees */
    }
  }


#topKeys{
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
}
#topKeys > div{
    display: flex;
    justify-content: center;
    width: 9%;
    height: 50px;
    background-color: lightgray;
    text-align: center;
    border-radius: 5%;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    cursor: pointer;
}
#middleKeys{
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 10px auto;
}
#middleKeys > div{
    display: flex;
    justify-content: center;
    width: 9%;
    height: 50px;
    background-color: #d3d3d3;
    text-align: center;
    border-radius: 5%;
    margin: 0 2px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    cursor: pointer;
}
#bottomKeys{
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 10px auto;
}
#bottomKeys > div{
    display: flex;
    justify-content: center;
    min-width: 9%;
    height: 50px;
    background-color: #d3d3d3;
    text-align: center;
    border-radius: 5%;
    margin: 0 2px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    cursor: pointer;
    
}
#BACKSPACE{
    padding: 0 10px;
}
#ENTER{
    padding: 0 10px;
}

@media (max-width: 500px){
    #grid{
        width: 80%;
    }
    #topKeys{
        width: 80%;
        display: flex;
        justify-content: space-around;
        margin: 10px auto;
    }
    #middleKeys{
        display: flex;
        justify-content: center;
        margin: 10px auto;
        width: 80%;
    }
    #bottomKey{
        width: 80%;
        display: flex;
        justify-content: center;
        margin: 10px auto;
    }
    #bottomKeys > div{
        min-width: 20%;
    }
    #winLose{
        width: 70%;
        height: 45%;
        position: fixed;
        padding-top: 60px;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        background-color: white;
        border-radius: 2%;
        box-shadow: 2px 2px 2px darkgray;
        font-family: Patua One;
    }

    }





