
section{
    width: 50%;
    text-align: center;
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

section h2{
    font-size: 4rem;
}
.main-section{
    display: flex;
    flex-direction: row;
}
section p{
    text-align: left;
    padding-top: 10px;
}
main h1{
    font-size: 4em;
}
.section{
    text-align: center;
}
#people{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.person{
    margin-bottom: 20px;
    font-weight: 50;
}
.circle{
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 150px;
    border: 2px solid white;
    border-radius: 100%;
    box-shadow: 10px 5px 30px black;
}
.person1img{
    background-image: url("../images/joey.jpg");
}
.person2img{
    background-image: url("https://canvas.jmu.edu/images/thumbnails/150292051/FxvA2W75Rfv5ymbTC4IdXjXhERKe9pEyGk8slGfK");

}
.person3img{
    background-image: url("https://media.licdn.com/dms/image/v2/D4E03AQHXd--o8ZSjbw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1727926433835?e=2147483647&v=beta&t=2WagWbP0u6AYD-KL1f60c3engVGL6uMuNUrUciANUoE");
}
@media (max-width: 723px){
    #header-container{
        position: absolute;
        left: 0;
        top: 0;
    }
    .main-section{
        width: 100%;
        margin-top: 100px;
        flex-direction: column;
    }
    section{
        width: 100%;
        padding: 0 0;
    }
    section p{
        padding: 5px 20px;
    }
    
}
@media (max-width: 820px){
    nav ul li{
        margin-right: 20px;
      }
  }