/* make up some class, make elements with that class have one of the specified position values */
.position{
  position: static;
}
*{
  margin: 0;
  padding: 0%;
}

/* make up some class, make elements with that class have the second of the specified position values */

.position2{
  position: relative;
}
.position3{
position: absolute;
}
header{
  width: 95vw;
  height: 300px;
  background-image: url("../test.png");
  background-size: cover;
  background-repeat: no-repeat;
  background: position top -500px;;
  display: flex;
  justify-content: space-between;
}


body{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#title{
  display: flex;
  justify-content: center;
  align-items: center;
 width: 30%;
 height: 80%;
 background-color: transparent;
 color:white;
 font-family: Mr De Haviland;
 font-size: 200%;
}
h1,h2{
  text-shadow: 2px 2px 2px black;
  font-weight:20;
}
nav{
  height: 20%;
  margin-top: 10px;
}
ul{
  text-align: end;
}
nav ul li{
  display: inline;
  margin-right: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

#wines{
  display: grid;
  width: 95vw;
  gap: 2vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 5px;
  height: 400px;
}

.wine{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}
#day{
  width: 95vw;
  font-family: Mr De Haviland;
  background-color: transparent;
 
  text-align: center;
  margin-top: 5px;
  font-weight: lighter;
  text-shadow: 2px 2px 2px black;
  font-size: 200%;
}

/* make up some class, make elements with that class have the last of the specified position values */
