#wine-info-header {
    width: 100%;
    display: flex;
    justify-content: center;
}

#header-container{
    width: 100%;
    height: 300px;
    background-image: url("../images/test.png");
    background-size: cover;
    background-repeat: no-repeat;
    background: position top -500px;

}
#title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 80%;
    background-color: transparent;
    font-size: 200%;
}
.headings{
    text-shadow: 2px 2px 2px black;
    font-weight:20;
    color:white;
    font-family: Mr De Haviland;
}
nav ul li{
    display: inline;
    margin-right: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: #800800;
}
#menu{
    margin-top: 10px;
    position: fixed;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: end;
}
#menu-button{
    background-color: rgb(43, 42, 40);
    border: 1px solid #800800;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    width: 50px;
    height: 50px;
    border: none;
    margin-right: 20px;
    display:none;
}

/*What I've added*/
#results {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#search-components{
    display: flex;
    align-items: center;
}
#search-components  select{
    height: 19px;
}
.wine{
    width: 300px;
    margin-bottom: 10px;
    background:linear-gradient(rgb(44, 3, 3),rgb(116, 38, 38));
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    cursor: pointer;
}

.wine-info p{
   line-height: 30px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   margin-left: 20px;
}

#name-input {
    margin-top: 20px;
    margin-bottom: 20px;
}

body{
    background: linear-gradient(#550b0b, #800800, rgb(177, 33, 33));
}

p {
    color: white;
    font: arial;
}

@media (max-width: 820px){
 
    nav ul li{
        margin-right: 20px;
    }
}

@media (max-width: 723px){
    #title{
        width:50%;
        height: 100%;
        margin-left: 10px;
    }

    #title-text {
        width: 100%;
    }

    .header-container{
        height: 100vh;
        width: 100vw;
        position: fixed;
        background-position: 100% center;
    }
    
    #menu-items{
        background-image: url("../images/small-back.png");
        margin-right: 20px;
        width: 120px;
        display: none;
    }
    nav ul{
        text-align: center;
    }
    nav ul li{
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
      }
    #menu-button{
        display: block;
    }
    #menu{
        margin-top: 25px;
    }
}