#wine-info-header {
    width: 100%;
    display: flex;
    justify-content: center;
}

#header-container{
    width: 100%;
    height: 300px;
    background-image: url("../images/test.png");
    background-size: cover;
    background-repeat: no-repeat;
    background: position top -500px;

}
#title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 80%;
    background-color: transparent;
    font-size: 200%;
}
.headings{
    text-shadow: 2px 2px 2px black;
    font-weight:20;
    color:white;
    font-family: Mr De Haviland;
    font-size: 50px;
}
nav ul li{
    display: inline;
    margin-right: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: #800800;
}
#menu{
    margin-top: 10px;
    position: fixed;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: end;
}
#menu-button{
    background-color: rgb(43, 42, 40);
    border: 1px solid #800800;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    width: 50px;
    height: 50px;
    border: none;
    margin-right: 20px;
    display:none;
}

main {
    display: flex;
    justify-content: space-around;
}

html {
    background-image: url(../images/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

p {
    padding: 10px;
    color: white;
    font: arial;
    font-size: larger;
}
#left{
    text-align: center;
}
.del:hover{
    background-position: left;
    border: 2px solid #fff;
  }
  .del{
    border: 2px solid black;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bolder;
    background: linear-gradient(to left, rgb(39, 37, 37) 50%, #800800 50%) right;
     background-size: 200%;
     transition: .5s ease-out;
    cursor: pointer;
    width: 15%;
    margin: 10px auto;
  }
  .but{
    width: 100%;
    display: flex;
    justify-content: center;
  }
#right h1{
    text-align: center;
}

@media (max-width: 820px){
 
    nav ul li{
        margin-right: 20px;
    }
}

@media (max-width: 723px){
    #title{
        width:50%;
        height: 100%;
        margin-left: 10px;
    }
    header{
        height: 100px;
    }

    #title-text {
        width: 100%;
    }

    #header-container{
        height: 100px;
        width: 100vw;
        position: fixed;
        background-position: 100% center;
    }
    
    #menu-items{
        background-image: url("../images/small-back.png");
        margin-right: 20px;
        width: 120px;
        display: none;
    }
    nav ul{
        text-align: center;
    }
    nav ul li{
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 0;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
      }
    #menu-button{
        display: block;
    }
    #menu{
        margin-top: 25px;
    }


    main {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }


}