* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

#header-container {
  width: 95vw;
  height: 300px;
  background-image: url("../images/test.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top -500px;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 80%;
  background-color: transparent;
  font-size: 200%;
}

.headings {
  text-shadow: 2px 2px 2px black;
  font-weight: 20;
  color: white;
  font-family: 'Mr De Haviland';
}

nav ul li {
  display: inline;
  margin-right: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #800800;
}

#menu {
  margin-top: 10px;
  position: fixed;
  width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: end;
}

#menu-button {
  background-color: rgb(43, 42, 40);
  border: 1px solid #800800;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  width: 50px;
  height: 50px;
  border: none;
  margin-right: 20px;
  display: none;
}

@media (max-width: 820px) {
  nav ul li {
    margin-right: 20px;
  }

}

@media (max-width: 723px) {
  #your-wines {
    width: 100vw;
    margin: 0 auto;
  }
  #title {
    width: 50%;
    height: 100%;
    margin-left: 10px;
  }
  #header-container {
    height: 100px;
    width: 100vw;
    background-position: 100% center;
  }
  #menu-items {
    background-image: url("../images/small-back.png");
    margin-right: 20px;
    width: 120px;
    display: none;
  }
  nav ul {
    text-align: center;
  }
  nav ul li {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  #menu-button {
    display: block;
  }
  #menu {
    margin-top: 25px;
  }
}

body {
  background-image: url("../images/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font: arial;
}

h1 {
  font-family: 'Mr De Haviland';
  text-decoration: underline;
  text-align: center;
}

table {
  width: 100%;
  margin: 2px auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
  vertical-align: top;
  word-break: break-all;
}

#your-wines {
  width: 95vw;
  margin: 0 auto;
}
.tb-del{
  text-align: center;
}
.del:hover{
  background-position: left;
  border: 2px solid #fff;
}
.del{
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bolder;
  background: linear-gradient(to left, rgb(39, 37, 37) 50%, #800800 50%) right;
   background-size: 200%;
   transition: .5s ease-out;
  cursor: pointer;
}

.type-of-wine {
  width: 100%;
  color: white;
  font-family: arial;
}

.wine-table {
  width: 100%;
  text-align: center;
  table-layout: fixed;
}

.notes{
  width: 100%;
  height: 100%;
  background-color: transparent;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
}
.table-notes{
  padding: 0;
}
#main-start{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.edit{
  margin: 0 5px;
  border: 2px solid black;
  border-radius: 10px;
  width: 80px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bolder;
  background: linear-gradient(to left, rgb(39, 37, 37) 50%, #800800 50%) right;
   background-size: 200%;
   transition: .5s ease-out;
  cursor: pointer;
}
.edit:hover{
  background-position: left;
  border: 2px solid #fff;
}

